<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Csomagoltak Módosítása</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>
    <div class="sidenav">
        <a th:href="@{/csomagoltak}">Csomagolt áru</a>
        <a th:href="@{/gyumolcseszoldsegek}">Gyümölcsök,Zöldségek</a>
        <a th:href="@{/husok}">Hús áru</a>
        <a th:href="@{/italok}">Italok</a>
        <a th:href="@{/pekaruk}">Pékáru</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Kijelentkezés" class="btn btn-secondary"/>
        </form>        
        </div>
    <div class="megjelenitesKeret">
    <form action="#" th:action="@{/createHus}" th:object="${hus}"
                                                                       method="post">

                                        <label for="nev" class="col-form-label">Áru neve</label> 
                                <input type="text" th:field="*{nev}" class="form-control"
                                            id="nev" placeholder="Áru neve" /><br>

                                            <label for="cikkSzam" class="col-form-label">Cikkszám</label> 
                                <input type="text" th:field="*{cikkSzam}" class="form-control"
                                            id="cikkSzam" placeholder="Cikkszám " /><br>

                                            <label for="termekAra" class="col-form-label">Ár(forint) bruttó</label> 
                                <input type="text" th:field="*{termekAra}" class="form-control"
                                            id="termekAra" placeholder="Ft" /><br>

                                            <label for="KgARaktaronMinimum" class="col-form-label">Minimum Kg a raktáron</label> 
                                <input type="text" th:field="*{KgARaktaronMinimum}" class="form-control"
                                            id="KgARaktaronMinimum" placeholder="kg a raktaron" /><br>

                                            <input type="submit" class="btn btn-primary" value="Küldés"><br>
                 
                                            <input type="hidden" id="id" th:field="*{id}">

    </form>
</div>
<div class ="footer" >
    <p>Raktárkezelő rendszer by Adorján Kevin</p>
  </div>
</body>
</html>